/**
 * Fade in left animation
 */
@keyframes fade-in-left
    from
        width: 0
        white-space: nowrap
        overflow: hidden

    to
        width: 100%
        white-space: nowrap
        overflow: hidden
