@import ./reset.css
@import ./fonts.css

:root
    font-size: 16px

    --center-width: 1200px

    --pink-color: #ED196D
    --white-color: #ffffff
    
    --font-aaux: 'Aaux ProMedium', 'Arial', sans-serif
    --font-etna: 'Etna', 'Arial', sans-serif

.grid-centered
    margin: 0 auto
    width: var(--center-width)
    max-width: 100%