@import ./reset.css
@import ./fonts.css

:root
    font-size: 16px

    --pink-color: #ED196D
    --white-color: #ffffff
    
    --font-etna: 'Etna', 'Arial', sans-serif

.grid-centered
    margin: auto
    width: 1100px