@import "@styles/animations"
    
.cities
    display: flex
    color: var(--white-color)
    justify-content: inherit
    animation-play-state: paused
    animation-name: slide-in-bottom
    animation-timing-function: ease
    animation-fill-mode: forwards
    animation-duration: .8s
    animation-delay: 4s
    opacity: 0
    
    .city
        width: 100%
        margin-top: 24px
        padding: 6px 16px
        border-left: var(--white-color) solid 1px

        &:first-of-type
            padding-left: 0
            border-left: none

        &:last-of-type
            padding-right: 0

        .icon
            margin: 0 auto 16px
            position: relative
            width: 16px
            height: 16px

            &:hover
                fill: var(--primary-color)

        .name
            display: block
            text-transform: uppercase
            font-family: var(--font-etna)
            font-size: 1.2rem
            line-height: 1
            letter-spacing: 1px

        .time
            display: block
            white-space: nowrap
            font-family: var(--font-aaux)
            font-size: 1rem
