$bar-height: 40px
    
.header
    position: fixed
    top: 0
    left: 0
    right: 0

    .headerBar
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-top: $bar-height

        .logo
            position: relative
            width: 260px
            height: $bar-height

        .button
            position: relative
            width: 56px
            height: $bar-height
            cursor: pointer