.highlightedProjects
    padding-top: var(--navbar-height)

    .header
        margin-top: 80px
        display: flex
        align-items: flex-end
        justify-content: space-between

        .intro
            max-width: 440px

            h2
                font-family: var(--font-etna)
                font-size: 1.4rem
                text-transform: uppercase

                &::before
                    content: "/"
                    color: var(--pink-color)

            p
                margin-top: 16px
                font-family: var(--font-aaux)
                line-height: 1.4
                font-size: 1rem

        .decorative
            margin-right: 24px
            font-family: var(--font-etna)

            small
                display: block
                font-size: 4rem
                color: var(--pink-color)
                line-height: 1
                margin: 0 0 48px 120px

            span
                font-size: 12rem
                text-transform: uppercase
                line-height: .5