@import @styles/animations
    
.concept
    background-color: var(--pink-color)

    .quoteSymbol
        position: absolute
        opacity: 0
        top: 120px
        animation-play-state: paused
        animation-name: drop-quote
        animation-timing-function: ease
        animation-duration: 1.8s
        animation-fill-mode: forwards

        &:nth-of-type(1)
            width: 165px
            height: 288px

        &:nth-of-type(2)
            margin-left: 220px
            width: 165px
            height: 250px
            animation-delay: 0.2s

    .decorative
        right: 5%
        bottom: 0
        position: absolute
        height: 100vh
        width: 50%
        animation-name: slide-in-right
        animation-play-state: paused
        animation-timing-function: ease
        animation-duration: 1.2s
        animation-delay: .5s
        animation-fill-mode: forwards
        opacity: 0

    .content
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 760px
        height: 100vh
        padding-left: 180px
        box-sizing: border-box

        .text
            color: var(--white-color)
            font-family: var(--font-etna)
            font-size: 1.8rem
            line-height: 1.2
            text-align: center
            animation-name: slide-in-bottom
            animation-play-state: paused
            animation-timing-function: ease
            animation-duration: 1s
            animation-delay: .5s
            animation-fill-mode: forwards
            opacity: 0

            p
                margin-bottom: 2rem

                small
                    font-family: var(--font-aaux)
                    font-size: 1rem

        .picto
            position: absolute
            width: 40px
            height: 70px
            bottom: 32px
            animation-name: slide-in-top
            animation-play-state: paused
            animation-timing-function: ease
            animation-duration: 1s
            animation-delay: 1s
            animation-fill-mode: forwards
            opacity: 0

@keyframes drop-quote
    0%
        transform: rotate(-90deg) translate(40%, -20%)
        opacity: 0

    50%
        transform: rotate(15deg) translate(-10%, 20%)
        opacity: 1

    100%
        transform: rotate(0deg) translate(0%, 0%)
        opacity: 1
