@import @styles/animations

.intro
    display: flex
    justify-content: center
    align-items: center

    .heading
        color: var(--pink-color)
        font-family: var(--font-etna)
        font-size: 18rem
        text-transform: uppercase
        visibility: hidden
